@media (max-width: 768px) {
    .navbar {
        padding: 5px;
    }
    .navbar h1 {
        font-size: 18px;
    }
    .logoutBtn {
        padding: 5px 10px;
        font-size: 14px;
    }
    #welcomeMessage {
        font-size: 24px;
        padding: 15px 20px;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar h1 {
        font-size: 16px;
    }
    .logoutBtn {
        padding: 5px;
        font-size: 12px;
    }
    #welcomeMessage {
        font-size: 20px;
        padding: 10px 15px;
    }
}